.appLayout {
  height: 100%;
  width: 100%;
}

/*Header CSS*/
.header {
  display: flex;
  background-color: beige;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  margin: 10px;
}

.header-image {
  width: 100%;
  height: 100%;
}

.header-menu > ul {
  display: flex;
}

.header-menu > ul > li {
  margin: 8px;
  padding: 8px;
}

/*Food Container CSS*/

.food-card {
  /* background-color: lightgoldenrodyellow; */
  height: 380;
  width: 250px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
  border: 1px solid rgb(255, 227, 124);
  border-radius: 5px;
}
.food-card:hover {
  background-color: beige;
  transform: scale(1.1);
}

.food-card-image {
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.food-container-card {
  display: flex;
  flex-wrap: wrap;
}

.food-card-name > p {
  font-size: larger;
  color: #3498db;
  font-weight: bold;
}
